.button-latest-event{
	height: 5rem;
	width: 5rem;
	margin-top: 1rem;
	background-image: url("http://via.placeholder.com/50x50");
	background-size: cover;
}

.latest-event-description{
	margin-top: 1rem;
}

#latest-events{
	min-height: 30rem;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

#find-a-event{
	min-height: 30rem;
	padding: 5rem;
	background-color: #e5e5e5;
	background-image: url("http://via.placeholder.com/400x300");
	background-position: right;
	background-repeat: no-repeat;
}

#call-to-action{
	min-height: 30rem;
	padding: 5rem;
}
