.navbar{
	height: 25rem;
	background-image: url("http://via.placeholder.com/1400x300");
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
}

footer{
	min-height: 20rem;
	background-color: #e5e5e5;
	padding: 5rem;
	text-align: center;
}
